<script src="https://apis.google.com/js/platform.js" async defer></script>

@page "/"
@* @using Microsoft.AspNetCore.Components.WebAssembly.Authentication *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <RemoteAuthenticatorView Action="login" /> *@

@* @code{
    [Parameter] public string? Action { get; set; }
} *@

<button @onclick="Login">Login with Google</button>

@code {
    [Inject] NavigationManager NavigationManager { get; set; } = default!;

    private async Task Login()
    {
        await Task.Run(() =>
        {
            NavigationManager.NavigateTo("/signin-google");
        });
    }
}