<script src="https://apis.google.com/js/platform.js" async defer></script>

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>hey</h1>

<div class="g-signin2" data-onsuccess="onSignIn"></div>